body {
	width:330px;
}
.gif {
	background:url("../img/ajax-loader.gif");
	display:block;
	width: 16px;
	height: 11px;
	margin: 0 auto;
}

.err {
	text-align: center;
}
tbody {
	font-size:0.85em;
}
#settingsList td {
	vertical-align: middle;
}
.about{
	margin-left:18px;
}

/* start spriting */
.icons { background: url(../img/sprite.png) no-repeat top left; display: block;}
.iconBTS{ background-position: 0 0; width: 16px; height: 16px; } 
.iconGODZ{ background-position: 0 -18px; width: 16px; height: 16px; } 
.iconJD{ background-position: 0 -36px; width: 16px; height: 16px; } 
.iconLD{ background-position: 0 -54px; width: 16px; height: 16px; } 
.iconO{ background-position: 0 -72px; width: 16px; height: 16px; } 
.iconPURGE{ background-position: 0 -90px; width: 16px; height: 16px; } 
.iconSAGAN{ background-position: 0 -108px; width: 16px; height: 16px; } 
.iconSHEEV{ background-position: 0 -126px; width: 16px; height: 16px; } 
.iconT{ background-position: 0 -144px; width: 16px; height: 16px; } 
.iconYT{ background-position: 0 -162px; width: 16px; height: 16px; } 

#gg_acc_matches tr, #acc_matches tr, #streams_vods tr, #rankings tr, #news tr {
	cursor:pointer;
}
.faq {
	display: block;
	margin-top: -10px;
	margin-left: 10px;
}
.textRight {
	text-align: right !important;
}
.permalink {
	opacity: 0.7;
	float: right;
}
.permalink:hover {
	opacity: 1;
}
/*OVERWRITTING*/
.nav {
	margin-bottom:-1px !important;
}
.accordion {
	margin-bottom: 0px !important;
}
.accordion-heading .accordion-toggle {
	padding: 6px 15px !important;
	text-decoration:none !important;
}
.accordion-inner {
	padding: 0px !important;
	border-top: none !important;
}
.table {
	margin-bottom: 0px !important;
}
.table th, .table td {
	line-height: 18px !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: antiqueWhite;
}
.tooltip-inner {
	max-width: 240px !important;
}
.unboldWinner {
	font-weight: normal !important;
}
.opaque {
	opacity: 0.0;
}