body {
	width:390px;
}
.gif {
	background:url("../img/ajax-loader.gif");
	display:block;
	width: 16px;
	height: 11px;
	margin: 0 auto;
}

.stay22img {
	width: 18px;
}

.err {
	text-align: center;
}
tbody {
	font-size:0.85em;
}
#settingsList td {
	vertical-align: middle;
}
.about{
	margin-left:18px;
}

.dd2-teamimg {
	width: 28px;
	height: 18px;
	background-color: #000;
}

/* start spriting */
.icons { background: url(../img/sprite.png) no-repeat top left; display: block;}
.iconBTS{ background-position: 0 0; width: 16px; height: 16px; }
.iconD2{ background-position: -17px 0; width: 16px; height: 16px; }
.iconDC{ background-position: -34px 0; width: 16px; height: 16px; }
.iconLUMI{ background-position: -34px 0; width: 16px; height: 16px; }
.iconDH{ background-position: -51px 0; width: 16px; height: 16px; }
.iconEG{ background-position: -68px 0; width: 16px; height: 16px; }
.iconEPI{ background-position: -85px 0; width: 16px; height: 16px; }
.iconGODZ{ background-position: -102px 0; width: 16px; height: 16px; }
.iconJD{ background-position: -119px 0; width: 16px; height: 16px; }
.iconLD{ background-position: -136px 0; width: 16px; height: 16px; }
.iconNEO{ background-position: -153px 0; width: 16px; height: 16px; }
.iconO{ background-position: -170px 0; width: 16px; height: 16px; }
.iconPURGE{ background-position: -187px 0; width: 16px; height: 16px; }
.iconSAGAN{ background-position: -204px 0; width: 16px; height: 16px; }
.iconSHEEV{ background-position: -221px 0; width: 16px; height: 16px; }
.iconT{ background-position: -238px 0; width: 16px; height: 16px; }
.iconTPL{ background-position: -255px 0; width: 16px; height: 16px; }
.iconWO{ background-position: -272px 0; width: 16px; height: 16px; }
.iconYT{ background-position: -289px 0; width: 16px; height: 16px; }


.d2mtrow {
	cursor:pointer;
}
.faq {
	display: block;
	margin-top: -10px;
	margin-left: 10px;
}
.textRight {
	text-align: right !important;
}
.permalink {
	opacity: 0.7;
	cursor: pointer;
	float: right;
}
.permalink:hover {
	opacity: 1;
}
.unboldWinner {
	font-weight: normal !important;
}
.opaque {
	opacity: 0.0;
}
/*OVERWRITTING*/
.nav {
	margin-bottom:-1px !important;
}
.accordion {
	margin-bottom: 0px !important;
}
.accordion-heading .accordion-toggle {
	padding: 6px 15px !important;
	text-decoration:none !important;
}
.accordion-inner {
	padding: 0px !important;
	border-top: none !important;
}
.table {
	margin-bottom: 0px !important;
}
.table th, .table td {
	line-height: 18px !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: antiqueWhite;
}
.tooltip-inner {
	max-width: 240px !important;
}

.sub-tabs-top {
	border-top: 0 !important;
	margin-top: 1px !important;
}

.sub-tabs-left {
	border-left: 0 !important;
}

.menutab {
	min-width: 0 !important;
}

.tabs-left {
	width: 50px;
	float: left;
	margin-right: -3px;
}

.alignborder {
	border-left: 1px solid #ddd;
}

.outpostimg {
	float: left;
	margin-right: 5px;
}

.outpostimg:hover {
	opacity: 0.8;
}

.ti2img {
	display: block;
	width: 264px;
	height: 114px;
	background-image: url('../img/international-button.png');
	margin: 3px auto;
}

.ti2img:hover {
	background-position: bottom;
}

.outpostdesc {
	padding:0 5px;
}